*{
    margin: 0;
    padding: 0;
}

.header{
    height: 90px;
    background-color: bisque;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.brand{
    margin: 20px;
}

.brand>a{
    color: #ff5d23;
    margin-left: 20px;
    font-weight: 600;
    font-size: xx-large;
    text-decoration: none;    
}

.nav>ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    font-size: larger;
}

.nav>ul>a>li{
    margin-right: 20px;
    color: #ff5d23;
}

.nav>ul>a>{
    text-decoration: none;
}

.icono{
    color: rgba(0, 0, 0, 0.562);
    font-size: 50px;
    margin-top: 25px;
    margin-right: 55px;
}
