*{
    margin: 0;
    padding: 0;
}

.header{
    height: 100px;
    background-color: #fdcda3;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.brand{
    margin: 20px;
}

.brand>a{
    color: white;
    margin-left: 20px;
    font-weight: 600;
    font-size: 40px;
    text-decoration: none;    
}

.nav>ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    font-size: larger;
}

.navbarLink{
    margin-right: 20px;
    color: white;
    text-decoration: none;
}

.cartWidget{
    color: rgba(255, 255, 255, 0.726);
    font-size: 30px;
    margin-top: 25px;
    margin-right: 55px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}
.icono{
    font-size: 45px;
}

/* Cart */

.cartTittle{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: gray;
    margin: 60px 30px;
}
