/* Item List Container */
.itemListContainer{
    color: #ff5d23;
    font-size: 35px;
    font-weight: 500;
    margin: 25px;
    text-align: center;
}

/* Item List*/

.contenedorCards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center
    
}

/* Item */

.card{
    width: 250px;
    height: 400px;
    margin: 20px 40px;
    border: 1px solid #ff5d23;
    border-radius: 5px;

}
.cardProductos{
/* width: 250px;
height: 250px; */
/* margin-left: 520px; */
padding-top: 20px;
color: gray;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.cardDescripcion{
 margin: 10px;
}

/* Item Count */
.contadorContainer{
    height: 180px;
    width: 180px;
    margin-left: 30px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contadorEtiqueta{
    font-size: 22px;
}

.contadorSuma, .contadorResta{
    margin: 25px;
    padding: 10px;
    color: #ff5d23;
    background-color: ivory;
    border: 0.5px solid #ff5d23;
    border-radius: 5px;
}

.contadorAgregar{
    padding: 7px;
    color: #ff5d23;
    background-color: ivory;
    border: 0.5px solid #ff5d23;
    border-radius: 5px;
}